includes:
    - %currentWorkingDirectory%/vendor/larastan/larastan/extension.neon
    - %currentWorkingDirectory%/vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    bootstrapFiles:
        - phpstan.bootstrap.php

    paths:
        - src

    level: 8

    checkMissingTypehints: true
